{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}</h1>
<ul class="post-list">
    {% for item in items %}
    <li>
        <a href="./{{ item.slug }}.html">
            <span class="title">{{ item.frontmatter.title }}</span>
            {% if item.frontmatter.date %}
            <time class="date">{{ item.frontmatter.date }}</time>
            {% endif %}
        </a>
        {% if item.frontmatter.description %}
        <p class="description">{{ item.frontmatter.description }}</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock content %}