{% extends "base.html" %} {% block content %}
<h1>{{ section.title }}</h1>
<ul class="project-cards">
  {% for item in items %}
  <li class="card">
    {% if item.frontmatter.link_to %}
    <a href="{{ item.frontmatter.link_to }}" target="_blank" rel="noopener">
      <h2>{{ item.frontmatter.title }}</h2>
      {% if item.frontmatter.description %}
      <p>{{ item.frontmatter.description }}</p>
      {% endif %}
    </a>
    {% else %}
    <h2>{{ item.frontmatter.title }}</h2>
    {% if item.frontmatter.description %}
    <p>{{ item.frontmatter.description }}</p>
    {% endif %} {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock content %}
